/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* ROOT */

:root
{
    --clr: #222327;
    --backgroundclr: #333;
    --btnclr: #29fd53;
    --sitebgclr: #fdfdfd;
}

*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: var(--backgroundclr);
    display: flex;
    flex-direction: column;
}

.site
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--sitebgclr);
}

.site nav
{
    align-items: flex-start;
}

section
{
    position: relative;
    width: 100%;
    padding: 15px;
    /* padding-top: 25px;
    padding-bottom: 25px; */
    color: var(--backgroundclr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

h1
{
    width: 100%;
    align-items: flex-start;
    margin-bottom: 25px;
    padding-top: 45px;
    font-size: 2em;
    text-align: left;
}

section p
{
    font-size: 1.2em;
    text-align: justify;
}