/* ROOT */

:root
{
    --backgroundclr: #333;
    --alternatebgclr: #fdfdfd;
    --h1clr: #333;
    --pclr: #fdfdfd;
    --primaryclr: #59B8A2;
    --secondaryclr: #1C3253;
    --thirdclr: #bbb5ac;
    --fourthclr: #ffd101;
}

*, ::after, ::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#adventure a
{
    border: solid 1px var(--secondaryclr);
}