/* ROOT */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root
{
    --backgroundclr: #333;
    --alternatebgclr: #fdfdfd;
    --h1clr: #333;
    --pclr: #fdfdfd;
    --primaryclr: #59B8A2;
    --secondaryclr: #1C3253;
    --thirdclr: #bbb5ac;
    --fourthclr: #ffd101;
}

*, ::after, ::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#adventure
{
    padding: 15px;
}

#adventure .last-post
{
    padding: 5px 5px 15px;
}

#adventure .last-post-content h2
{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2rem;
    color: var(--secondaryclr);
}

#adventure .last-post-content p
{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1rem;
    background: var(--pclr);
    box-shadow: 0 10px 10px var(--backgroundclr);
    padding: 10px 5px;
}

#adventure .last-post-content.active p
{
    transform-origin: 10% 50%;
    animation: turnpage 2.2s linear;
}

@keyframes turnpage
{
    0%
    {
        transform: rotateY(0deg) skew(0deg, 0deg);
        opacity: 1;
    }
    50%
    {
        transform: rotateY(90deg) skew(15deg, 15deg);
        opacity: .7;
    }
    100%
    {
        transform: rotateY(180deg) skew(0deg, 0deg);
        opacity: 0;
    }
}



#adventure a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--pclr);
    background: var(--secondaryclr);
    border: solid 3px var(--primaryclr);
    border-radius: 40px;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    font-weight: 500;
}