/* ROOT */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root
{
    --backgroundclr: #333;
    --alternatebgclr: #fdfdfd;
    --h1clr: #333;
    --pclr: #fdfdfd;
    --primaryclr: #59B8A2;
    --secondaryclr: #1C3253;
    --thirdclr: #bbb5ac;
    --fourthclr: #ffd101;
}

#adventure .last-post
{
    margin-bottom: 30px;
}

#adventure .last-post-content
{
    display: flex;
    width: 100%;
}

#adventure .last-post-content h2, #adventure .last-post-content p
{
    width: 50%;
    padding: 20px 5px;
}

#adventure .last-post-content h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

#adventure .last-post-content p
{
    display: flex;
    align-items: center;
}

#adventure .last-post-content.active p
{
    transform-origin: 0% 50%;
}

@keyframes turnpage
{
    0%
    {
        transform: rotateY(0deg) skew(0deg, 0deg);
        opacity: 1;
        color: var(--backgroundclr);
    }
    50%
    {
        transform: rotateY(90deg) skew(15deg, 15deg);
        opacity: 1;
    }
    100%
    {
        transform: rotateY(180deg) skew(0deg, 0deg);
        opacity: 1;
        color: var(--pclr);
    }
}

#adventure a
{
    background: var(--secondaryclr);
    border: solid 3px var(--secondaryclr);
    color: var(--pclr);
    font-weight: 600;
    transition: all 0.5s;
}

#adventure a:hover
{
    border: solid 3px var(--primaryclr);
    font-weight: 700;
    letter-spacing: 1.4px;
    box-shadow: 0 0 10px var(--primaryclr),
                0 0 20px var(--primaryclr),
                0 0 40px var(--primaryclr);
}

