nav
{
    width: 100%;
    flex-direction: row;
}

nav .sup a
{
    color: #fff;
    text-decoration: none;
}

nav.active
{
    width: 100%;
    height: 60px;
}

.menu_access
{
    display: flex;
    justify-content: center;
    align-items: center;
}