body
{
    width: 100%;
    min-height: 100vh;
    background-image: url(/images/admin3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard h1
{
    border-bottom: none;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    color: var(--secondaryclr);
    font-size: 2.8rem;
    letter-spacing: 2.5px;
    -webkit-text-stroke: none;
    text-shadow: none;
    -webkit-text-stroke: 0px var(--secondaryclr);
}

.statistics
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.statistics .statbox
{
    width: 45%;
    margin: 10px 5px 10px 5px;
}

.statistics .statbox h2
{
    font-size: 1.3rem;
    color: var(--secondaryclr);
    padding-top: 10px;
}

.siteadmin .adminbox
{
    margin: 25px 0 10px 0;
}

.siteadmin .chapters
{
    display: flex;
}

.siteadmin .chapters article
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.siteadmin .chapters article .desc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100% - 200px);
    color: var(--pclr);
}

.siteadmin .chapters article .desc .date
{
    font-size: .8rem;
}

.siteadmin .chapters article .modify
{
    height: 100%;
    width: 200px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteadmin .chapters article .modify .notvisible 
{
    display: none;
}

.siteadmin .chapters article .modify li
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin: 10px 15px;
    font-size: .8rem;
    font-weight: 400;
    color: var(--backgroundclr);
    background-color: var(--alternatebgclr);
    border: 3px solid var(--primaryclr);
    border-radius: 20px;
}