:root
{
    --clr: #222327;
    --backgroundclr: #333;
    --btnclr: #29fd53;
    --sitebgclr: #fdfdfd;
    --primaryclr: #59B8A2;
    --secondaryclr: #1C3253;
    --thirdclr: #bbb5ac;
    --fourthclr: #ffd101;
}

#auteur
{
    background: #fff;
}

#auteur h1
{
    color: var(--backgroundclr);
}

.outer-box
{
    border-radius: 50%;
    border: 6px solid #fff;
    z-index: 2; 
}

.box
{
    position: relative;
    width: 300px;
    min-height: 300px;
    background: rgba(0,0,0,0.7);
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

.box::before
{
    content: '';
    position: absolute;
    inset: -20px 0px;
    background: linear-gradient(315deg, var(--primaryclr), var(--fourthclr));
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
    }
}

.box::after
{
    content: '';
    position: absolute;
    inset: 6px;
    background: var(--secondaryclr);
    border-radius: 50%;
    z-index: 1;
}

.content
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.content img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1.21;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}



.content h2
{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600 ;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.content h2 span
{
    font-weight: 300;
    font-size: 0.75em;
}

.content button
{
display: none;
}

.displayed_bio
{
    padding: 10px;
    padding-top: 150px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    opacity: 1;
    transform: translateY(-135px);

    /* transition: all 0.5s; */
}



@media screen and (min-width: 1024px)
{
    .full-bio
    {
        display: flex;
        max-width: 70%;
    }

    .displayed_bio
    {
        /* display: none; */
        opacity: 0;
        padding-left: 220px;
        transform: translateX(-600px);
        transition: all 0.5s;
    }

    .displayed_bio.active
    {
        /* display: flex; */
        opacity: 1;
        transform: translateX(-200px);
        height: 400px;
        /* height: auto; */
        width: auto;
        /* padding-top: 10px; */
        padding-top: 170px;
    }

    .box
    {
        width: 400px;
        height: 400px;
    }

    .box:hover .content img
    {
        opacity: 0;
    }

    .content button
    {
        display: flex;
        position: relative;
        margin-top: 10px;
        padding: 10px 20px;
        background: #fff;
        color: #070a1c;
        border-radius: 25px;
        font-weight: 500;
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 00.05em;
        text-decoration: none;
        transition: 0.5s;
    }

    .content button:hover
    {
        letter-spacing: 0.2em;
        cursor: pointer;
    }
    
    .box::before
    {
        inset: -10px 140px;
    }

    .box:hover::before
    {
        inset: -20px 0px;
    }
}